<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Technology Stack</h3>
          <ul>
            <li><a href="#">Spring Boot</a></li>
            <li><a href="#">Angular</a></li>
            <li><a href="#">PostgreSQL RDS</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Fantastic Forex</h3>
          <p>
            Fantastic Forex is an information hub that aggregates data from
            decentralized sources and lets users view technical information
            about foreign currencies, cryptocurrencies, and stocks.
          </p>
        </div>
        <div class="col item social">
          <a href="#">
            <fa-icon [icon]="faFacebook"></fa-icon>
          </a>
          <a href="#">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a href="https://github.com/Fantastic-Number-Four">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
        </div>
      </div>
      <p class="copyright">Fantastic Forex © 2022</p>
    </div>
  </footer>
</div>
