<div>
  <mat-table matTableFilter [exampleEntity]="filterEntity" [filterType]="filterType" [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let entity">{{ entity.address }}</td>
    </ng-container>

    <!-- symbol Column -->
    <ng-container matColumnDef="symbol" class="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Pair" [(ngModel)]="filterEntity.symbol">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let entity" class="symbol">{{ entity.symbol }}</td>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="price">Price</th>
      <td mat-cell *matCellDef="let entity" class="price">
        ${{ entity.price.toFixed(4)}}
      </td>
    </ng-container>

    <!-- watched Column -->
    <ng-container matColumnDef="watched">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="watched">
        <mat-select placeholder="Watched" [(ngModel)]="filterEntity.watched">
          <mat-option *ngFor="let opt of [['',''], ['True', true], ['False', false]]" [value]="opt[1]">
            {{ opt[0] }}
          </mat-option>
        </mat-select>
      </mat-header-cell>
      <td mat-cell *matCellDef="let entity" class="watched">
        <fa-icon [icon]="entity.watched ? filledStar : regularstar " (click)="ToggleWatched(entity)" ></fa-icon>
      </td>
    </ng-container>

    <!-- type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="type">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Type" [(ngModel)]="filterEntity.type">
            <mat-option *ngFor="let opt of ['', 'Crypto', 'Forex', 'Equities', 'Commodities' ]" [value]="opt">
              {{ opt }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let entity" class="type">{{ entity.type }}</td>
    </ng-container>

        <!-- type Column -->
    <ng-container matColumnDef="asset">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="asset">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Asset" [(ngModel)]="filterEntity.asset">
        </mat-form-field>
      </th>
      <td mat-cell *matCellDef="let entity" class="asset">{{ entity.asset }}</td>
    </ng-container>

    <ng-container matColumnDef="Asset">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let entity">{{ entity.asset }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[25,50,100,200]" showFirstLastButtons></mat-paginator>
</div>

<!-- Copyright 2022 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license -->
