th.mat-sort-header-sorted {
  color: black;
  text-align: center;
  justify-content: center;
}

.mat-cell {
  text-align: center;
  vertical-align: middle
}


.mat-table {
  max-width: 100%;
  margin: 0px auto;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  
}

.connect-card {
  margin: 0 auto;
  min-height: 10rem;
  max-width: 400px;
  margin-bottom: 8px;
  align-items: center;
}

