<div class="flex">

  <div *ngIf="accounts; then logout ; else login"></div>
  <ng-template #logout>
    <button class="btn btn-primary" (click)="Disconnect()">
      <fa-icon [icon]="faWallet"></fa-icon>
      <span>{{
        accounts ? " " + accounts[0].substring(0,6) + '...' + accounts[0].substring(accounts[0].length - 4, accounts[0].length) : "Logout"
      }}</span>
    </button>
  </ng-template>

  <ng-template #login>
    <button #login class="btn btn-primary" (click)="Connect()" >
      Connect
    </button>
  </ng-template>



</div>
