<ng-template #logout>
    <button class="btn btn-primary" (click)="Disconnect()">
      <fa-icon [icon]="faWallet"></fa-icon>
      <span>{{
        accountList$ ? " " + accountList$[0].substring(0,6) + '...' + accountList$[0].substring(accountList$[0].length - 4, accountList$[0].length) : "Logout"
      }}</span>
    </button>
  </ng-template>

  <ng-template #login>
    <button #login class="btn btn-primary" (click)="Connect()" >
      Connect
    </button>
  </ng-template>


<div>
  <div *ngIf="accountList$; then logout ; else login"></div>
</div>
